.container {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: fuchsia
}

header {
    grid-row-start: 1;
}

nav {
    grid-row-start: 2;
}

nav>span {
    background-color: rgb(28, 178, 181);
    border: 2px solid black;
    margin: 5px;
    padding: 5px
}

main {
    display: flex;
    background-color: yellow; 
    font-family: Helvetica;
    grid-row-start: 3;
    align-items: center
}